<div id="container">
  <div id="header">
    <div id="home" class="header-elements"><%= link_to "Home", "/announcer" %></div>
    <div id="shuffle" class="header-elements"><%= link_to "Shuffle", shuffle_announcer_path(@current_list_id) %></div>
    <div id="wordlist_index" class="header-elements"><%= @wordlist_index %>/<%= @wordlist_count %></div>
  </div>

  <div id="word-container">
    <div id="word"><%= @word.spelling %></div>
  </div>

  <div id="footer">
    <% if @wordlist_index > 1 %>
    <div id="prev" class="footer-elements"><%= link_to "Prev", announcer_url(@wordlist_index-1) %></div>
    <% end %>

    <div id="listen" class="footer-elements"><%= link_to "Pronounce", @word.pronunciation_url, target: "_blank" %></div>

    <div id="reveal" class="footer-elements"><%= link_to "Reveal", "#", id: "reveal-link" %></div>

    <% if @wordlist_index <= @wordlist_count -1 %>
    <div id="next" class="footer-elements"><%= link_to "Next", announcer_url(@wordlist_index+1) %></div>
    <% end %>
  </div>
</div>
<%= javascript_tag do %>
	$("#word").hide();
  $("#reveal").click( function(){
  	if($("#word").hasClass("revealed")){
  		$("#word").hide();
  		$("#reveal-link").text("Reveal");
  		$("#word").removeClass("revealed")
  	}else{
  		$("#word").show();
  		$("#reveal-link").text("Hide");
  		$("#word").addClass("revealed")
  	}
	});
<% end %>